<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "RoomPick" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Sprockets側のCSSを読む -->
    <%= stylesheet_link_tag 'application', media: 'all' %>

    <script src="https://kit.fontawesome.com/847d84db90.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= render 'public/shared/header' %>
    </header>

    <!-- フラッシュメッセージ -->
    <div class="flash-area">
      <% flash.each do |key, value| %>
        <p class="<%= key %>"><%= value %></p>
      <% end %>
    </div>

    <%= yield %>
  </body>
</html>